body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
.top {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
.title {
  padding: 50px;
  font-size: 60px;
}
.middle {
  display: flex;
  flex-direction: row;
}
.left,
.right {
  flex: 1;
}
.left {
  order: 1;
}
.right {
  order: 3;
}
.container {
  background-color: aliceblue;
  height: 600px;
  width: 600px;
  order: 2;
  border: 5px solid black;
}
.square {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: aliceblue;
  display: inline-block;
  outline: 1px solid #000;
}
.square:hover {
  background-color: black;
}
