.container {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  width: 25%;
}
.square {
  width: 5.8%;
  padding: 2.9%;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}
